// Default Color
$bodyColor: $black;
$bgColor: $white;

// Font Sizes
$font-sm: 0.875rem;
$font-md: 1.125rem;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

// Padding Variables
$paddingVertical-small: 4rem;
$paddingVertical-large: 6rem;
$paddingHorizontal-small: 1.5rem;
$paddingHorizontal-large: 2rem;
